<div class="dashboard container">
    <div class="header">
        <div class="ui text attached menu">
            <div class="ui container">
                <div class="header item" style="margin-right: 30px">
                    DASHBOARD
                </div>
                <a class="item" routerLink="projects">
                    <i class="list ul icon"></i> Projects
                </a>
                <a class="right item" routerLink="/">
                    <i class="sign out alternate icon"></i> Close
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

