<vs-sample-loaded-check [status]="loadingStatus$ | async" (onReload)="reload()">
    <ng-container *ngIf="sample$ | async as sample; else badSample">
        <vs-sample-header [sample]="sample" (onClose)="close()"></vs-sample-header>
        <div class="top pushed">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
    <ng-template #badSample>
        <div class="ui raised placeholder top pushed red segment" style="min-height: 300px">
            <h2 class="ui icon header">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    An error occurred while fetching the sample info
                    <div class="sub header">
                        Sample either was deleted or does not exist
                    </div>
                </div>
            </h2>
            <div class="ui basic button" (click)="reload()">Reload</div>
        </div>
    </ng-template>
</vs-sample-loaded-check>



