<div class="ui raised segments">
    <div class="ui segment">
        <h4 class="ui header">
            <i class="stream icon"></i>
            <div class="content">
                Clonotype table
                <div class="sub header" style="padding-top: 0.25em">
                    Clonotype table view. Use buttons at the top and at the bottom of the table to navigate through the sample.
                </div>
            </div>
        </h4>
    </div>
    <div class="ui segment">
        <button class="ui button small blue" (click)="filter()">Filter</button>
        <button class="ui button small blue" (click)="test_sort()">Test sort</button>
    </div>
    <div class="ui segment" *ngIf="clonotypes$ | async as clonotypes" [ngClass]="{ 'loading': clonotypes.updating.active }">
        <ng-container *ngIf="clonotypes.data as data else info">
            <vs-sample-clonotypes-table-pagination
                    [current]="data.selectedPage.page"
                    [total]="data.view.totalPages"
                    [range]="5" (onPageChange)="page($event)">
            </vs-sample-clonotypes-table-pagination>
            <div style="padding-top: 1em; padding-bottom: 1em">
                <vs-sample-clonotypes-table [page]="data.selectedPage"></vs-sample-clonotypes-table>
            </div>
            <vs-sample-clonotypes-table-pagination
                    [current]="data.selectedPage.page"
                    [total]="data.view.totalPages"
                    [range]="5" (onPageChange)="page($event)">
            </vs-sample-clonotypes-table-pagination>
        </ng-container>
        <ng-template #info>
            <h2 class="ui center aligned icon header top pushed">
                <i class="stream icon"></i>
                <div class="content">
                    Clonotype table
                    <div class="sub header" style="padding-top: 0.25em">
                        Specify filters and use filter button to start
                    </div>
                </div>
            </h2>
        </ng-template>
    </div>
</div>
