<ng-container *ngIf="(isOffline$ | async)">
    <div class="network-status-container" [@status]>
        <div class="ui negative icon compact message">
            <i class="wifi icon"></i>
            <div class="content">
                <div class="header">
                    Your device lost its internet connection
                </div>
                <p>Some features may be unavailable</p>
                <p class="hide" (click)="hideOfflineWarning()">Close</p>
            </div>
        </div>
    </div>
    <div class="network-blur-background" [@background]></div>
</ng-container>
<ng-container *ngIf="(guardInfo$ | async) as guard">
    <ng-container *ngIf="guard.active">
        <div class="network-guard-container" [@guard]>
            <div class="ui info icon compact message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                        {{ guard.title }}
                    </div>
                    <p>{{ guard.message }}</p>
                </div>
            </div>
        </div>
        <div class="network-blur-background" [@background]></div>
    </ng-container>
</ng-container>
