.network-backend-status-container {
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(253,174,107, 0.75);
  margin-bottom: 1em;
}

.network-backend-status-container > .message {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 0.5em 0em;
}

.network-status-container {
  position: fixed;
  top: 2.5%;
  left: 35%;
  width: 30%;
  z-index: 10001;
}

.network-status-container .hide {
  cursor: pointer;
  text-align: right;
  text-decoration: underline;
}

.network-guard-container {
  position: fixed;
  top: 35%;
  left: 35%;
  width: 30%;
  z-index: 10001;
}

.network-blur-background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #ffffff;
  opacity: 0.75;
}


