<form class="ui form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="field" [ngClass]="{ 'error': c.email.touched && c.email.invalid }" smoothHeight [smoothTrigger]="c.email.touched">
        <label>E-mail address</label>
        <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="email" placeholder="E-mail address" formControlName="email" (focus)="c.email.markAsUntouched()">
        </div>
        <label class="right aligned error" *ngIf="c.email.hasError('email')" [@label]>Please enter a valid e-mail</label>
        <label class="right aligned error" *ngIf="c.email.hasError('required')" [@label]>This field is required</label>
    </div>
    <div class="field" [ngClass]="{ 'error': c.password.touched && c.password.invalid }" smoothHeight [smoothTrigger]="c.password.touched">
        <label>Password</label>
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="Password" formControlName="password" (focus)="c.password.markAsUntouched()">
        </div>
        <label class="right aligned error" *ngIf="c.password.hasError('required')" [@label]>This field is required</label>
    </div>
    <p class="cursor pointer"><a routerLink="/auth/reset">Forgot password?</a></p>
    <button class="ui fluid large orange button" [disabled]="form.invalid">Login</button>
</form>
