@import 'tooltip';

.body {
    min-width: 800px;
    height: 100%;
}

.cursor.pointer {
    cursor: pointer;
}

.auth.grid {
    height: 100%;
    width: 100%;
    position: absolute;
}

label.right.aligned {
    text-align: right;
}

.ui.form > .field > label.error {
    display: none;
    margin-top: 5px;
}

.ui.form > .field.error > label.error {
    display: block;
}

.ui.no.vertical.padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.top.pushed {
    margin-top: 2em !important;
}

.top.very.pushed {
    margin-top: 6em !important;
}

.top.middle.pushed {
    margin-top: 45% !important;
}

.full.height {
    height: 100%;
}

.full.width {
    width: 100%;
}

.full.height.width {
    height: 100%;
    width: 100%;
}
