<div class="ui divided items cursor pointer">
    <div class="item">
        <div class="content">
            <a class="header">Project 1</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <a class="header">Project 2</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
</div>
<button class="ui fluid violet button" style="bottom: 0px; position: absolute">Create new project</button>
