<div class="ui container top pushed">
    <div class="ui raised violet attached segment">
        <div class="ui projects grid">
            <div class="six wide projects list column">
                <ng-container *ngIf="isLoaded | async; else notLoaded">
                    <div vs-projects-list [projects]="projects$ | async" [selected]="selected$ | async"
                         (onDelete)="delete($event)" (onSelect)="select($event)">
                    </div>
                </ng-container>
                <ng-template #notLoaded>
                    <ng-container *ngIf="isLoading | async">
                        <div class="ui active centered inline violet loader"></div>
                    </ng-container>
                    <ng-container *ngIf="isLoadFailed | async">
                        Load failed
                    </ng-container>
                </ng-template>
            </div>
            <div class="ten wide projects list column">
                <div vs-project-selected [selected]="selected$ | async" (onUpdate)="update($event)"></div>
            </div>
        </div>
    </div>
    <div class="ui secondary bottom attached raised segment">
        <div class="ui grid">
            <div class="six wide column">
                <vs-projects-list-util-buttons (onCreate)="create()"></vs-projects-list-util-buttons>
            </div>
        </div>
    </div>
</div>
