.ui.projects.grid {
  padding: 0 !important;
  min-height: 500px !important;
  max-height: 500px !important;
}

.projects.list {
  padding: 0 !important;
  min-height: 500px !important;
  max-height: 500px !important;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.right.vertically.divided {
  border-right: 1px solid #d4d4d5 !important;
}

.projects.list > div {
  height: 100%;
}

.projects.list::-webkit-scrollbar {
  display: none;
}
