<div class="content">
    <ng-container *ngIf="projects.length; else empty">
        <div class="project item" @list *ngFor="let project of projects; trackBy: trackProjectBy" vs-projects-list-entity
             [project]="project"
             [isPreviewing]="project === preview"
             (onPreview)="onPreview.emit(project)"
             (onFailedDiscard)="onFailedDiscard.emit(project)">
        </div>
        <div class="project filler item"></div>
    </ng-container>
    <ng-template #empty>
        <h3 class="ui center aligned icon header vertically centered" @fade-in>
            <i class="folder plus icon"></i>
            <div class="content">
                You don't have any project yet
                <div class="sub header">Click on 'Create new project' button to start</div>
            </div>
        </h3>
    </ng-template>
</div>
