<div class="ui form" [ngClass]="{ 'violet double loading': isUpdating }">
    <div class="field">
        <label>Project name:</label>
        <div class="ui huge transparent icon input" [ngClass]="{ 'disabled' : isUpdating }">
            <input debounced-input [delay]="1000"
                   (debouncedValue)="updateName($event)"
                   type="text" [attr.placeholder]="namePlaceholder" [ngModel]="name" [disabled]="isUpdating">
            <i class="icon"></i>
        </div>
    </div>
    <div class="field">
        <label>Description:</label>
        <div class="ui description fluid large icon input" [ngClass]="{ 'disabled' : isUpdating }">
                        <textarea debounced-input [delay]="1000"
                                  (debouncedValue)="updateDescription($event)" style="width: 100%;" [@description]="descriptionState"
                                  [attr.placeholder]="descriptionPlaceholder" [ngModel]="description"
                                  (focusin)="selectDescription()" (focusout)="deselectDescription()"
                                  maxlength="150" rows="3" [disabled]="isUpdating">
                </textarea>
        </div>
    </div>
</div>
