limit_req_zone   $binary_remote_addr zone=frontend:25m rate=2r/s;
limit_req_zone   $binary_remote_addr zone=backend:25m rate=2r/s;
limit_req_zone   $binary_remote_addr zone=backend-upload:25m rate=2r/s;
limit_req_status 429;

limit_conn_zone   $binary_remote_addr zone=addr:25m;
limit_conn_status 429;

server {
  listen 80;
  limit_conn addr 5;

  proxy_http_version 1.1;
  proxy_pass_header  Set-Cookie;

  location / {
    limit_req                  zone=frontend burst=20 delay=10;
    proxy_pass                 http://frontend:80;
  }

  location /api {
    return 302 /api/;
  }

  location ~* ^/api/samples/(.*)/create/$ {
    limit_req                  zone=backend-upload burst=20 delay=5;
    gzip                       off;
    client_max_body_size       100m;
    proxy_http_version         1.1;
    rewrite                    ^/api/(.*) /$1 break;
    proxy_pass                 http://backend:9000;
  }

  location /api/ {
    limit_req               zone=backend burst=10 delay=5;
    proxy_request_buffering on;
    client_max_body_size    2m;
    proxy_pass              http://backend:9000/;
  }
}
