<ng-container *ngIf="sample.link; else notLoaded">
    <div class="content" [@content]="state | async" (click)="onSelect.emit()">
        <div class="sample" [@sample]="state | async">
            {{ sample.link.name }}
            <div class="utils" [@utils]="state | async">
                <vs-sidebar-sample-utils-update
                        [name]="sample.link.name"
                        [software]="sample.link.software"
                        [species]="sample.link.species"
                        [gene]="sample.link.gene"
                        [updating]="sample.updating"
                        (onUpdate)="onUpdate.emit($event)">
                </vs-sidebar-sample-utils-update>
                <vs-sidebar-sample-utils-delete
                        [deleting]="sample.deleting"
                        (onDelete)="onDelete.emit()">
                </vs-sidebar-sample-utils-delete>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #notLoaded>
    <div class="util" smoothHeight [smoothTrigger]="sample">
        <ng-container *ngIf="sample.creating.active else createFailed">
            <div class="loading">
                <div class="ui active inline tiny teal loader"></div>
                <span style="padding-left: 1em">Loading new sample</span>
            </div>
        </ng-container>
        <ng-template #createFailed>
            <div class="failed">
                <div class="ui icon negative small message">
                    <i class="close icon" (click)="onFailedDiscard.emit()"></i>
                    <div class="content">
                        <div class="header">
                            Failed to create new sample
                        </div>
                        <div class="extra">{{ sample.creating.error }}</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>
