.content {
  padding: 2em;
  position: relative;
  height: 100%;
}

.content .vertically.centered {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.close.icon {
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.close.icon:hover {
  opacity: 1.0;
}
