<table class="ui table" *ngIf="page">
    <thead>
    <tr>
        <th>Index</th>
        <th>Count</th>
        <th>Frequency</th>
        <th>cdr3aa</th>
        <th>cdr3nt</th>
        <th>V</th>
        <th>D</th>
        <th>J</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of page.rows">
        <td>{{ row.index }}</td>
        <td>{{ row.count }}</td>
        <td>{{ row.freq }}</td>
        <td>{{ row.cdr3aa }}</td>
        <td>{{ row.cdr3nt }}</td>
        <td>{{ row.v }}</td>
        <td>{{ row.d }}</td>
        <td>{{ row.j }}</td>
    </tr>
    </tbody>
</table>
