<div class="ui segment" *ngIf="(isUserStateInitialized$ | async); else fetching">
    Very cool navigation bar |
    <div *ngIf="(isUserLoggedIn$ | async); else notLoggedIn">
        Logged as cool: {{ userCredentials$ | async | json }}
        <button (click)="logout()">Logout</button>
    </div>
    <ng-template #notLoggedIn>
        Not logged in
        <button routerLink="/auth">Auth</button>
    </ng-template>
</div>
<ng-template #fetching>
    <div class="ui segment">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Initializing</div>
        </div>
    </div>
</ng-template>
