<div class="ui segment" *ngIf="(isUserStateFetched$ | async); else fetching">
    Very cool navigation bar |
    <div *ngIf="(isUserLoggedIn$ | async); else notLoggedIn">
        Logged as cool: {{ userInfo$ | async }}
        <button (click)="logout()">Logout</button>
    </div>
    <ng-template #notLoggedIn>
        Not logged in but...
        <button (click)="test_login()">Login</button>
    </ng-template>
</div>
<ng-template #fetching>
    <div class="ui segment">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Fetching</div>
        </div>
    </div>
</ng-template>
