<div class="content">
    <div class="ui grid">
        <div class="four wide column">
            <div class="centered">
                <vs-upload-name [name]="entity.name"
                                (onNameChange)="onNameChange.emit($event)">
                </vs-upload-name>
            </div>
        </div>
        <div class="two wide column">
            <div class="centered">
                <vs-upload-software [software]="entity.software" [available]="availableSoftwareTypes"
                                    (onSoftwareChange)="onSoftwareChange.emit($event)">
                </vs-upload-software>
            </div>
        </div>
        <div class="two wide column">
            <div class="centered">
                {{ entity.size | vsHumanReadableSize }}
            </div>
        </div>
        <div class="four wide column">
            <div class="centered">
                <vs-upload-status [warning]="entity.warning"></vs-upload-status>
            </div>
        </div>
        <div class="two wide column">
            <div class="ui blue mini fluid button" (click)="onUpload.emit()"
                 [ngClass]="{ 'disabled': !isUploadEntityReady || !isUploadAllowed }">Upload
            </div>
        </div>
        <div class="two wide column">
            <div class="ui orange mini fluid button" (click)="onRemove.emit()">Remove</div>
        </div>
    </div>
</div>
