<div class="content">
    <div class="ui grid">
        <div class="four wide column">
            <div class="centered">
                <vs-upload-name [name]="upload.name" (onNameChange)="onNameChange.emit($event)"></vs-upload-name>
            </div>
        </div>
        <div class="one wide column">
            <div class="centered">
                {{ upload.software }}
            </div>
        </div>
        <div class="one wide column">
            <div class="centered">
                {{ upload.size | vsHumanReadableSize }}
            </div>
        </div>
        <div vs-upload-status [errors]="errors | async" class="six wide column"></div>
        <div class="two wide column">
            <div class="centered">
                <ng-container *ngIf="upload.ready; else notReady">
                    <div class="ui blue tiny fluid button" [ngClass]="{ 'disabled': upload.name === '' }">Upload</div>
                </ng-container>
                <ng-template #notReady>
                    <div class="ui active centered inline tiny loader"></div>
                </ng-template>
            </div>
        </div>
        <div class="two wide column">
            <div class="ui orange tiny fluid button" (click)="onRemove.emit()">Remove</div>
        </div>
    </div>
</div>
