<div class="content">
    <div class="ui grid">
        <div class="four wide column">
            <div class="centered">
                <vs-upload-name [name]="entity.name" [pending]="isUploadEntityPending"
                                (onNameChange)="onNameChange.emit($event)">
                </vs-upload-name>
            </div>
        </div>
        <div class="two wide column">
            <div class="centered text">
                <vs-upload-software [software]="entity.software" [available]="availableSoftwareTypes" [pending]="isUploadEntityPending"
                                    (onSoftwareChange)="onSoftwareChange.emit($event)">
                </vs-upload-software>
            </div>
        </div>
        <div class="two wide column">
            <div class="centered text">
                {{ entity.size | vsHumanReadableSize }}
            </div>
        </div>
        <div class="four wide column">
            <div class="centered">
                <vs-upload-status [warning]="entity.warning" [error]="entity.error"
                                  [uploaded]="entity.uploaded" [progress]="entity.progress">
                </vs-upload-status>
            </div>
        </div>
        <ng-container *ngIf="isUploadEntityPending">
            <div class="two wide column">
                <div class="ui blue mini fluid button" (click)="onUpload.emit()"
                     [ngClass]="{ 'disabled': !isUploadEntityReady || isUploadForbidden }">Upload
                </div>
            </div>
            <div class="two wide column">
                <div class="ui orange mini fluid button" (click)="onRemove.emit()">Remove</div>
            </div>
        </ng-container>
    </div>
</div>
