<div class="content">
    <div class="ui grid">
        <div class="column" style="width: 15% !important;">
            <div class="centered">
                <vs-uploads-entity-name [name]="entity.name" [pending]="isUploadEntityPending"
                                        (onNameChange)="onNameChange.emit($event)">
                </vs-uploads-entity-name>
            </div>
        </div>
        <div class="column" style="width: 8.5% !important;">
            <div class="centered text">
                {{ entity.size | vsHumanReadableSize }}
            </div>
        </div>
        <div class="column" style="width: 10.5% !important;">
            <div class="centered padded text">
                <vs-uploads-entity-software [software]="entity.software" [available]="availableSoftwareTypes" [pending]="isUploadEntityPending"
                                            (onSoftwareChange)="onSoftwareChange.emit($event)">
                </vs-uploads-entity-software>
            </div>
        </div>
        <div class="column" style="width: 10.5% !important;">
            <div class="centered padded text">
                <vs-uploads-entity-species [species]="entity.species" [available]="availableSpeciesTypes" [pending]="isUploadEntityPending"
                                        (onSpeciesChange)="onSpeciesChange.emit($event)">
                </vs-uploads-entity-species>
            </div>
        </div>
        <div class="column" style="width: 10.5% !important;">
            <div class="centered padded text">
                <vs-uploads-entity-gene [gene]="entity.gene" [available]="availableGeneTypes" [pending]="isUploadEntityPending"
                                           (onGeneChange)="onGeneChange.emit($event)">
                </vs-uploads-entity-gene>
            </div>
        </div>
        <div class="column" style="width: 25% !important;">
            <div class="centered padded">
                <vs-uploads-entity-status [warning]="entity.warning" [error]="entity.error"
                                          [uploaded]="entity.uploaded" [progress]="entity.progress">
                </vs-uploads-entity-status>
            </div>
        </div>
        <ng-container *ngIf="isUploadEntityPending">
            <div class="column" style="width: 20% !important;">
                <div class="ui fluid buttons">
                    <div class="ui blue mini button" (click)="onUpload.emit()"
                         [ngClass]="{ 'disabled': !isUploadEntityReady || isUploadForbidden }">Upload
                    </div>
                    <div class="ui orange mini button" (click)="onRemove.emit()">Remove</div>
                </div>

            </div>
        </ng-container>
        <ng-container *ngIf="isUploadEntityFailed">
            <div class="column" style="width: 15% !important;">
                <div class="ui red mini fluid button" (click)="onRemove.emit()">Discard</div>
            </div>
        </ng-container>
    </div>
</div>
