<div class="ui raised orange segment very padded" [ngClass]="{ 'loading': pending }">
    <div class="ui one column grid">
        <div class="ui column">
            <h2 class="ui header">Welcome</h2>
        </div>
        <div class="ui no vertical padding column" smoothHeight [smoothTrigger]="message">
            <div class="ui message info" *ngIf="message">
                <div [@info-message]>
                    {{ message }}
                </div>
            </div>
        </div>
        <div class="ui no vertical padding column" smoothHeight [smoothTrigger]="error">
            <div class="ui message error" *ngIf="error">
                <div [@error-message]>
                    {{ error }}
                    <ul *ngIf="extra"><li *ngFor="let e of extra">{{ e }}</li></ul>
                </div>
            </div>
        </div>
        <div class="ui column">
            <vs-login-form (onSubmit)="onSubmit.emit($event)"></vs-login-form>
        </div>
        <div class="ui center aligned column" style="padding-top: 50px">
            <p>Don't have an account?
                <a class="cursor pointer" routerLink="/auth/signup" rel="noopener">Sign up</a>
            </p>
        </div>
    </div>
</div>
