<div class="content">
    <ng-container *ngIf="selected.isDefined; else empty">
        <div class="ui grid">
            <div class="fifteen wide column">
                <vs-selected-project-form
                        [name]="selected.get.link.name" [description]="selected.get.link.description"
                        [isUpdating]="selected.get.isUpdating" [isDeleting]="selected.get.isDeleting"
                        (onUpdate)="update($event)">
                </vs-selected-project-form>
            </div>
            <div class="one wide column">
                <i class="times close icon cursor pointer" (click)="onClose.emit()"></i>
            </div>
        </div>
    </ng-container>
    <ng-template #empty>
        <h3 class="ui center aligned icon header vertically centered" @fade-in>
            <i class="clipboard outline icon"></i>
            <div class="content">
                Select project from left panel
                <div class="sub header">Or create a new one</div>
            </div>
        </h3>
    </ng-template>
</div>
