<div class="ui grid" style="padding-top: 2em; padding-bottom: 1em">
    <div class="four wide header column">
        Name
    </div>
    <div class="two wide header column">
        <div class="software">
            <vs-dropdown [value]="'Software'" [values]="availableSoftware" (onSelect)="onGlobalSoftwareChange.emit($event)"></vs-dropdown>
        </div>
    </div>
    <div class="two wide header column">
        Size
    </div>
    <div class="four wide header column">
        Status
    </div>
    <div class="two wide column">
        <div class="ui blue mini fluid button" [ngClass]="{ 'disabled': isUploadForbidden }" (click)="onUploadAll.emit()">Upload all</div>
    </div>
    <div class="two wide column">
        <div class="ui orange mini fluid button" (click)="onRemoveAll.emit()">Remove all</div>
    </div>
</div>
