.content {
  height: 100%;
  width: 100%;
}

.content > .project {
  height: 100%;
  width: 100%;
  padding: 2em;
  position: relative;
}

.util > .loading {
  padding: 2em;
}

.util > .failed {
  padding: 1em;
}
