<div class="content">
    <ng-container *ngIf="project.link; else notLoaded">
        <a class="header">{{ project.link.name }}</a>
        <div class="meta">
            <span>{{ project.link.description }}</span>
        </div>
        <div class="extra">
            <i class="right floated trash alternate outline icon" (click)="onDelete.emit()"></i>
        </div>
    </ng-container>
    <ng-template #notLoaded>
        <ng-container *ngIf="project.isRejected; else loading">
            Failed to create project
        </ng-container>
        <ng-template #loading>
            <div class="ui active inline text violet slow double loader">Creating</div>
        </ng-template>
    </ng-template>
</div>
