.empty.segment {
  overflow: hidden;
  min-height: 300px;
  padding: 0;
  margin: 0;
}

.empty.segment .header {
  width: 100%;
}

.empty.segment .header > .sub.content {
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0,0,0,.6);
}

.uploads.segment {
  padding: 0 !important;
}

.uploads.segment > .upload.item {
  border-bottom: 1px solid #d4d4d5;
}

.uploads.segment > .upload.last.item {
  border-bottom: none !important;
}
