<div class="ui raised segments">
    <div class="ui teal clearing segment">
        <h2 class="ui left floated header">
            <i class="cloud upload alternate icon"></i>
            <div class="content">
                Upload
                <div class="sub header">Manage your uploads here</div>
            </div>
        </h2>
        <div class="ui right floated close header" (click)="close()">
            <i class="small times icon"></i>
        </div>
    </div>
    <ng-container *ngIf="(currentProjectInfo$ | async).isUploadAllowed; else uploadNotAllowed">
        <div class="ui clearing segment">
            <div class="ui tiny teal button" (click)="add()">Add file(s)</div>
            <div class="ui right floated tiny blue button" *ngIf="(currentProjectUploads$ | async).length !== 0"
                 [ngClass]="{ 'disabled': !(isUploadAllowed$ | async) }" (click)="uploadAll()">
                Upload all
            </div>
        </div>
        <ng-container *ngIf="(errors$ | async) as errors">
            <div class="ui segment" *ngIf="errors.length !== 0" @errors>
                <vs-files-errors [errors]="errors"></vs-files-errors>
            </div>
        </ng-container>
        <ng-container *ngIf="(warnings$ | async) as warnings">
            <div class="ui segment" *ngIf="warnings.length !== 0" @warnings>
                <vs-files-warnings [warnings]="warnings"></vs-files-warnings>
            </div>
        </ng-container>
        <ng-container *ngIf="currentProjectUploads$ | async as uploads">
            <ng-container *ngIf="uploads.length === 0">
                <div vs-files-drop (onDrop)="handleFiles($event)" class="ui empty segment" @empty>
                    <div class="ui icon header">
                        <i class="file alternate outline icon"></i>
                        <div class="content">
                            You can drag and drop your files here
                        </div>
                        <div class="sub content">
                            Supported extensions: txt, gz
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="uploads.length !== 0">
                <div class="ui segment">
                    <vs-upload-header (onGlobalSoftwareChange)="changeGlobalSoftware($event)"></vs-upload-header>
                </div>
                <div class="ui uploads segment" [@uploads]="uploads.length">
                    <div class="upload item" *ngFor="let upload of uploads; trackBy: uploadEntityTrackBy; let isLast = last" [ngClass]="{ 'last': isLast }">
                        <vs-upload [entity]="upload"
                                   (onNameChange)="changeName(upload, $event)"
                                   (onSoftwareChange)="changeSoftware(upload, $event)"
                                   (onRemove)="remove(upload)"
                                   [isUploadAllowed]="isUploadAllowed$ | async">
                        </vs-upload>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template #uploadNotAllowed>
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="file alternate outline icon"></i>
                <div class="content">
                    You are not allowed to upload files in this project
                </div>
            </div>
        </div>
    </ng-template>
</div>
<vs-files-dialog [extensions]="extensions"></vs-files-dialog>
