<div class="ui container top pushed">
    <div class="ui raised padded violet segment">
        <h2 class="ui header">Projects overview</h2>
        <div class="ui equal height top pushed full height stretched grid" style="min-height: 500px">
            <div class="six wide column">
                <vs-project-items></vs-project-items>
            </div>
            <div class="ten wide top very pushed column">
                <h3 class="ui icon header">
                    <i class="clipboard outline icon"></i>
                    <div class="content">
                        Select project from left panel
                        <div class="sub header">Or create a new one.</div>
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>
