<div class="project container">

    <vs-project-loaded-check [isLoaded]="isCurrentProjectLoaded$ | async"
                             [isLoading]="isCurrentProjectLoading$ | async"
                             [isLoadFailed]="isCurrentProjectLoadFailed$ | async"
                             (onReload)="reload()">
        <div class="ui grid">
            <div class="three wide sidebar column" @sidebar>
                <vs-project-sidebar></vs-project-sidebar>
            </div>
            <div class="thirteen wide main column" @content>
                <div class="content container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </vs-project-loaded-check>

</div>
