<ng-container *ngIf="highlighted && highlighted.link; else empty">
    <div class="ui grid">
        <div class="sixteen wide column">
            <vs-highlighted-project-form
                    [name]="highlighted.link.name" [description]="highlighted.link.description"
                    [isUpdating]="highlighted.isUpdating"
                    (onUpdate)="update($event)">
            </vs-highlighted-project-form>
        </div>
    </div>
</ng-container>
<ng-template #empty>
    <h3 class="ui center aligned top very pushed icon header">
        <i class="clipboard outline icon"></i>
        <div class="content">
            Select project from left panel
            <div class="sub header">Or create a new one</div>
        </div>
    </h3>
</ng-template>
